body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#main-container {
    width: 100vw;
    height: 100vh;
}

#main-content {
    width: 100%;
    min-height: 80vh;
}

/** NavBar Component **/

#navBar-container {
    width: 100%;
    padding-inline: 1.5rem;
    min-height: 10vh;
    max-height: 10vh;
    background: #e7e7e7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#navBar-container #navBar-nav {
    display: none;
}
#navBar-container #navBar-text {
    display: none;
}

#navBar-nav{
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#navBar-icon {
    display: block;
    padding: 0;
    img {
        width: 40px;
    }
    z-index: 1000 !important;
}

#navBar-text {
    margin: 0;
    text-decoration: underline;
    font-size: medium;
    color: black;
}

#navBar-links {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 1rem;
}

.navbar-link{
    color: black;
    font-size: xx-large;
}

/** Footer Component **/

#footer-container {
    width: 100%;
    min-height: 10vh;
    max-height: 10vh;
    background: #e7e7e7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text{
    margin: 5px;
    font-size: medium;
}

#footer-source-link {
    font-size: medium;
    color: black;
    text-decoration: underline;
}

/** Home Component **/
#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1.5rem;
}

#home-introduction {
    font-size: 40px;
    padding-bottom: 1rem;
    border-bottom: 2px solid #a2a2a2;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 290px));/**Project is min 290px wide**/
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
    max-height: 80vh;
    overflow: scroll;
}

/** Project Component, not in Fullscreen **/
.project-cover {
    min-height: 40vh;
    max-height: 40vh;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-cover:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.project-cover > .project-cover-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 60%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.project-cover > .project-cover-title {
    padding: 0.5rem 0.5rem 0px 1rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.project-cover > .project-cover-description {
    padding: 0.5rem 0.5rem 0px 1rem;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

/** Project Component in Fullscreen **/


/** Contact Me Page **/
#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-inline: 1.5rem;
}

#contact-title {
    font-size: 40px;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #a2a2a2;
}

.contact-text {
    font-size: medium;
}

.section {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
}

.section h3 {
    grid-column: 2;
    margin-left: 55px;
    width: max-content;
    text-align: left;
    font-size: large;
    font-weight: bold;
    margin-top: 1.25rem;
    border-bottom: 1px solid #a2a2a2;
}

.contact-header:first-of-type {
    margin-top: 0;
}

.section span {
    grid-column: 2;
    text-align: left;
    margin-left: 75px;
}

.contact-link {
    color: #1b1b1b;
}

/** About Me Page **/
#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
}

#about-profile {
    width: 150px;
    border-radius: 50%;
    border: 10px solid white;
    position: absolute;
    top: calc(10vh - 40px);
    z-index: 10;
}

#about-info {
    margin-top: calc(150px - 30px - 10px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
    font-size: large;
    overflow: scroll;
}

#about-left,
#about-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-inline: 2rem;
    max-width: fit-content;
}

.about-header {
    font-size: x-large;
    font-weight: bold;
    margin: 0 0 1.5rem;
    border-bottom: #a2a2a2 solid 1px;
    width: fit-content;
}

#about-origin-link {
    text-decoration: none;
    color: black;
}

#about-birthday-link {
    text-decoration: none;
    color: black;
}

#about-languages {
    list-style: circle;
    margin-top: 0.5rem;
    max-width: fit-content;
}

#about-education-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: calc(100vw - 2rem);
}
#about-education-list li {
    margin-bottom: 1rem;
}

.about-education-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (min-width: 900px) {
    /*TODO: TEMP*/
    #navBar-container #navBar-nav {
        display: block;
    }
    #navBar-container #navBar-text {
        display: block;
    }

    #navBar-icon {
        display: none;
    }

    #navBar-nav{
        width: fit-content;
        height: fit-content;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: unset;
    }

    #navBar-links {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .navbar-link{
        font-size: large;
    }

    .project-cover {
        min-height: 50vh;
        max-height: 50vh;
    }

    #footer-container {
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 1.5rem;
    }

    #home-introduction {
        font-size: 60px;
    }

    #about-info {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    #about-left,
    #about-right {
        width: 50vw;
        gap: 0.5rem;
    }
}