:root {
    --navbar-height: 10vh;
    --navbar-padding-inline: 1.5rem;
    --navbar-border-radius: 10px;
    --navbar-gap: 1rem;

    --footer-height: 10vh;

    --projects-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);

    --primary-bg-color: white;
    --secondary-bg-color: #e7e7e7;
    --primary-fg-color: black;
    --secondary-fg-color: #1b1b1b;

    --accent-bottom-border: 2px solid #a2a2a2;
}

[data-theme="dark"] {
    --projects-box-shadow: 0 6px 20px rgba(255, 255, 255, 0.2);

    --primary-bg-color: #181818;
    --secondary-bg-color: #272727;
    --primary-fg-color: white;
    --secondary-fg-color: #e4e4e4;

    --accent-bottom-border: 2px solid #5d5d5d;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
}

* {
    box-sizing: border-box;
}

#main-container {
    width: 100vw;
    height: 100vh;
}

#main-content {
    width: 100%;
    min-height: calc(100vh - calc(var(--navbar-height) + var(--footer-height)));
}

/** NavBar.tsx Styling **/
#navBar-container {
    width: 100%;
    padding-inline: var(--navbar-padding-inline);
    min-height: var(--navbar-height);
    max-height: var(--navbar-height);
    background: var(--secondary-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: var(--navbar-border-radius);
    border-bottom-right-radius: var(--navbar-border-radius);
}

#navBar-container #navBar-nav {
    display: none;
}
#navBar-container #navBar-text {
    display: none;
}

#navBar-nav{
    width: 100vw;
    height: 100vh;
    background: var(--primary-bg-color);
    color: var(--primary-fg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#navBar-icon {
    display: block;
    padding: 0;
    img {
        width: 40px;
    }
    z-index: 1000 !important;
}

#navBar-text {
    margin: 0;
    text-decoration: underline;
    font-size: medium;
    color: var(--primary-fg-color);
}

#navBar-links {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: var(--navbar-gap);
}

.navbar-link{
    color: var(--primary-fg-color);
    font-size: xx-large;
}

/** Footer.tsx Styling **/
#footer-container {
    width: 100%;
    min-height: var(--footer-height);
    max-height: var(--footer-height);
    background: var(--secondary-bg-color);
    border-top-left-radius: var(--navbar-border-radius);
    border-top-right-radius: var(--navbar-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text{
    margin: 5px;
    font-size: medium;
    color: var(--primary-fg-color);
}

#footer-source-link {
    font-size: medium;
    color: var(--primary-fg-color);
    text-decoration: underline;
}

/** Home.tsx Styling **/
#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: var(--navbar-padding-inline);
}

#home-introduction {
    font-size: 40px;
    padding-bottom: 1rem;
    border-bottom: var(--accent-bottom-border);
    color: var(--primary-fg-color);
}

#home-content {
    font-size: medium;
    color: var(--primary-fg-color);
}

/** Projects.tsx & Project.tsx **/
#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 290px));/**Project is min 290px wide**/
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
    max-height: calc(100vh - calc(var(--navbar-height) + var(--footer-height)));
    overflow: scroll;
}

/** Project.tsx Styling (not Fullscreen) **/
.project-cover {
    min-height: 40vh;
    max-height: 40vh;
    background: var(--primary-bg-color);
    border-radius: 16px;
    box-shadow: var(--projects-box-shadow);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-cover:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.project-cover > .project-cover-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 60%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.project-cover > .project-cover-title {
    padding: 0.5rem 0.5rem 0px 1rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: var(--primary-fg-color);
}

.project-cover > .project-cover-description {
    padding: 0.5rem 0.5rem 0px 1rem;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: var(--primary-fg-color);
}

/** Project.tsx Styling (Fullscreen) **/
#project-container {
    color: var(--primary-fg-color);
}

/** Contact.tsx Styling **/
#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-inline: var(--navbar-padding-inline);
}

#contact-title {
    font-size: 40px;
    margin-bottom: 1.5rem;
    border-bottom: var(--accent-bottom-border);
    color: var(--primary-fg-color);
}

#contact-content {
    font-size: medium;
    color: var(--primary-fg-color);
}

.contact-text {
    font-size: medium;
    color: var(--primary-fg-color);
}

.section {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
}

.section h3 {
    grid-column: 2;
    margin-left: 55px;
    width: max-content;
    text-align: left;
    font-size: large;
    font-weight: bold;
    margin-top: 1.25rem;
    border-bottom: var(--accent-bottom-border);
}

.contact-header:first-of-type {
    margin-top: 0;
}

.section span {
    grid-column: 2;
    text-align: left;
    margin-left: 75px;
}

.contact-link {
    color: var(--secondary-fg-color);
}

/** About.tsx Styling **/
#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
    color: var(--primary-fg-color);
}

#about-profile {
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--primary-bg-color);
    position: absolute;
    top: calc(10vh - 40px);
    z-index: 10;
}

#about-info {
    margin-top: calc(150px - 30px - 10px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
    font-size: large;
    overflow: scroll;
}

#about-left,
#about-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-inline: 2rem;
    max-width: fit-content;
}

.about-header {
    font-size: x-large;
    font-weight: bold;
    margin: 0 0 1.5rem;
    border-bottom: var(--accent-bottom-border);
    width: fit-content;
}

#about-origin-link {
    text-decoration: none;
    color: var(--primary-fg-color);
}

#about-birthday-link {
    text-decoration: none;
    color: var(--primary-fg-color);
}

#about-languages {
    list-style: circle;
    margin-top: 0.5rem;
    max-width: fit-content;
}

#about-education-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: calc(100vw - 2rem);
}
#about-education-list li {
    margin-bottom: 1rem;
}

.about-education-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (min-width: 900px) {
    #navBar-container #navBar-nav {
        display: block;
    }
    #navBar-container #navBar-text {
        display: block;
    }

    #navBar-icon {
        display: none;
    }

    #navBar-nav{
        width: fit-content;
        height: fit-content;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: unset;
    }

    #navBar-links {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .navbar-link{
        font-size: large;
    }

    .project-cover {
        min-height: 50vh;
        max-height: 50vh;
    }

    #footer-container {
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 1.5rem;
    }

    #home-introduction {
        font-size: 60px;
    }

    #about-info {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    #about-left,
    #about-right {
        width: 50vw;
        gap: 0.5rem;
    }
}