body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#main-container {
    width: 100vw;
    height: 100vh;
}

#main-content {
    width: 100%;
    min-height: 80vh;
}

/** NavBar Component **/

#navBar-container {
    width: 100%;
    padding-inline: 1.5rem;
    min-height: 10vh;
    max-height: 10vh;
    background: #e7e7e7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#navBar-text {
    margin: 0;
    text-decoration: underline;
    font-size: medium;
    color: black;
}

#navBar-links {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navbar-link{
    color: black;
    font-size: large;
}

/** Footer Component **/

#footer-container {
    width: 100%;
    min-height: 10vh;
    max-height: 10vh;
    background: #e7e7e7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 1.5rem;
}

.footer-text{
    font-size: medium;
}

#footer-source-link {
    font-size: medium;
    color: black;
    text-decoration: underline;
}

/** Home Component **/
#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-introduction {
    font-size: 60px;
    padding-bottom: 1rem;
    border-bottom: 2px solid #a2a2a2;
}

#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
}

/** Project Component, not in Fullscreen **/
.project-cover {
    min-width: calc((100% - (3 * 1rem)) / 4);
    max-width: calc((100% - (3 * 1rem)) / 4);
    min-height: 50vh;
    max-height: 50vh;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-cover:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.project-cover > .project-cover-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 60%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.project-cover > .project-cover-title {
    padding: 0.5rem 0.5rem 0px 1rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.project-cover > .project-cover-description {
    padding: 0.5rem 0.5rem 0px 1rem;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

/** Project Component in Fullscreen **/
